section {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.welcome-span {
    text-align: center;
    font-size: 20px;
    margin: 14px 0;
}
.cta-btn {
    background-color: #2e2e2e90;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: #38383861;
}
.create-title-input, .create-file-input {
    padding: 10px 0 10px 20px;
    background: transparent;
    border: 2px solid #34343490;
    color: #cacaca;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.create-title-input:focus , .create-file-input:focus{
    border-color: #23232390;
    outline: none;
}
.create-button {
    margin-top: 30px;
}
